/* Dulux Colour Trends 2013
   Author: Tony Trinh, 21.9.12
*/

/* temp */
.wrapper	 	{ background: #fbfbfb; }
.wrapper img 	{ display: block; }
#content 		{ width: 960px; margin: 0 6px; padding: 0; }
body			{ background: #FBFBFB url(../images/temp/pageBackground.jpg) no-repeat fixed 0 0; height: auto; }

/* JELLYBEAN PROMOTION CONTENT */
.landing-jellybean-promotion { font-size: 14px; line-height: 1.5; color: #595959; }

.jellybean-head { width:960px; height:496px; background-image:url(../images/bg-jb-head.jpg); background-position:0 0; background-repeat:no-repeat; text-indent:-9999em; }

.jellybean-body { width:960px; height:462px; background-image:url(../images/bg-jb-body.jpg); background-position:0 0; background-repeat:no-repeat; }
.jellybean-body h1 { text-indent:-9999em; margin:0; padding:0; }
.jellybean-body .info { width:325px; float:left; padding:244px 0 0 102px; }
.jellybean-body .info p { font-size:14px; line-height:21px; color:#435298; margin:0 0 10px; }
.jellybean-body .info p.terms { font-size:12px; }
.jellybean-body .info p a { color:#435298; }
.jellybean-body .video-wrapper { width:445px; height:257px; margin:143px 85px 0 0; background-image:url(../images/bg-video-shadow.png); background-position:center bottom; background-repeat:no-repeat; float:right; }
.jellybean-body .video-wrapper .video { width:416px; height:234px; margin:0 0 0 15px; }


.jellybean-footer { width:960px; height:171px; background-image:url(../images/bg-jb-footer.jpg); background-position:0 0; background-repeat:no-repeat; }