/* Dulux Colour Trends 2013
   Author: Tony Trinh, 21.9.12
*/

/* GLOBAL */
#wrapper img,
.colour-trends-2013 img { display: block; }
.colour-trends-2013 a { color: #777777; }
.colour-trends-2013,
.ct13-colours,
.ct13-footer { width: 972px; }
#content { padding: 0; }
.colour-trends-2013 { background: #fff; font: 14px/1.6em Tahoma, Verdana, Segoe, sans-serif; color: #777777; }

/* CT13 DESCRIPTION  */
.ct13-description 					{ padding: 37px 0 0; margin: 0 0 42px; border-bottom: 1px solid #e5e5e5; }
	.ct13-description p 			{ padding: 0 0 35px; }
	.ct13-description p.emphasis 	{ padding: 0 0 18px; font-size: 22px; line-height: 1.4em; letter-spacing: -0.75px; }

/* CT13 COLOURS LIST SECTION */
.ct13-colours 					{ list-style: none; height: 1200px; position: relative; }
	.ct13-colours .ct13-box 	{ position: absolute; }
	.ct13-colours .ct13-small 	{ width: 182px; }
	.ct13-colours .ct13-big 	{ width: 376px; }

	.ct13-colours .ct13-col1 { left: 0; }
	.ct13-colours .ct13-col2 { left: 201px; }
	.ct13-colours .ct13-col3 { left: 395px; }
	.ct13-colours .ct13-col4 { left: 596px; }
	.ct13-colours .ct13-col5 { left: 790px; }
	.ct13-colours .ct13-row1 { top: 0; }
	.ct13-colours .ct13-row2 { top: 127px; }
	.ct13-colours .ct13-row3 { top: 253px; }
	.ct13-colours .ct13-row4 { top: 379px; }
	.ct13-colours .ct13-row5 { top: 435px; }
	.ct13-colours .ct13-row6 { top: 684px; }
	.ct13-colours .ct13-row7 { top: 810px; }
	.ct13-colours .ct13-row8 { top: 936px; }

	.ct13-colours 				{ color: #333333; }
	.ct13-colours h5 			{ font: 12px/1.2em Tahoma, Geneva, sans-serif; text-transform: uppercase; padding: 6px 0 0; }
	.ct13-colours .description 	{ font-size: 10px; line-height: 1em; }
	.ct13-colours .long-desc	{ font-size: 11px; line-height: 1.4em; font-style: italic; color: #777777; padding: 0 61px 21px 10px; border-left: 1px solid #e5e5e5; margin: 7px 0 0; }
	.ct13-colours .short		{ padding-right: 215px; }
	.ct13-colours .right		{ padding: 0 10px 21px 4px; border-right: 1px solid #e5e5e5; border-left: none; text-align: right; }

/* CT13 FOOTER */
.ct13-footer 				{ background: #fafafa; padding: 0 0 0 294px; width: 678px; height: 369px; border-bottom: 8px solid #fff; margin: 0 0 25px; position: relative; }
	.ct13-footer h3 		{ position: absolute; top: 45px; left: 0; text-indent: -9999px; display: block; width: 253px; height: 127px; background: #777777 url(../images/get-the-look.png) no-repeat; }
	.ct13-footer ul 		{ padding: 55px 0 6px 15px; color: #777777; }
	.ct13-footer li 		{ padding: 0 0 22px; }
	.ct13-footer li span	{ color: #777777; }
	.ct13-footer p  		{ text-indent: 15px; }
	.ct13-footer p a 		{ font-size: 16px; color: #777777; }
	.ct13-footer p a:hover 	{ text-decoration: none; }

/* COLOUR CONTROL */
/* share */
	.ct13-share .ct13-description p.emphasis 	{ color: #aca9a4; }
	.ct13-share .ct13-colours .long-desc,
	.ct13-share	.ct13-colours .right 			{ border-color: #a9a9a7; }
	.ct13-share .ct13-footer h3					{ background-color: #a9a9a7; }
	.ct13-share .ct13-footer p a,
	.ct13-share .ct13-footer ul 				{ color: #a9a9a7; }